<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="my.user.id"
    version="0.1.0">
    <name>SendMyUserID</name>   
    <!-- ios TEST-->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="SendMyUserID">
                <param name="ios-package" value="SendMyUserID" /> 
            </feature>
        </config-file>
        <js-module src="www/sendUserID.js" name="SendMyUserID">
            <clobbers target="sendMyUserID" />
        </js-module>
        <header-file src="src/ios/getUserID.h" />
	    <source-file src="src/ios/getUserID.m" />
    </platform>
</plugin>